.input-container{
    display:flex;
    margin-bottom:60px;
    
  
  }
  
  .send-button{
    background-color:rgb(25, 135, 84);
    color:white;
    padding: 10px 20px;
    border : none;
    border-radius:10px;
    font-size:15px;
    margin-left:10px;
    cursor:pointer;
  }
  
  .textarea{
    padding : 12px 15px; 
    font-size:15px;
    border-radius:10px;
    border-width : 1px;
    flex-grow: 1;
  }