body{
    font-size:16px;
    font-family:arial;
    margin:0px;
}
.app-container{
    max-width:600px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    height:100vh;
    display:flex;
    flex-direction:column;
}

.input-container{
    display:flex;
    margin-bottom:60px;
    
 
}

.send-button{
    background-color:rgb(25, 135, 84);
    color:white;
    padding: 10px 20px;
    border : none;
    border-radius:10px;
    font-size:15px;
    margin-left:10px;
    cursor:pointer;
}

.textarea{
    padding : 12px 15px; 
    font-size:15px;
    border-radius:10px;
    border-width : 1px;
    flex-grow: 1;
}

.chat-human{
    display:flex;
    justify-content:flex-end;
    margin-bottom:20px;
}

.chat-robot{
    display:flex;
    align-items:flex-start;
    margin-bottom:20px;

}

.image{
    width:45px;
    height:45px;
}


.chat-message{
    background-color:rgb(238,238,238);
    padding:15px 20px;
    border-radius:10px;
    margin-right:10px;
    margin-left:10px;
    max-width:300px;
}

.chat-messages-container{
    flex-grow:1;
    overflow:scroll;
    scrollbar-width:none;
}

